# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/elandalus_db?schema=public"

# App & Portal Configuration
PORT=5173
VITE_SCHOOL_NAME="مدرسة الأندلس"
VITE_CAMPUS_LOCATION="Algiers, Algeria"
